<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page! Let's Change It!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="new-task">Task Input</label> 
            {{!-- These labels will need some changing. Right now they are very basic just to change the example template to something that will fuction for us. --}}
            <input type="text" id="new-task" class="form-control" aria-describedby="new-task" placeholder="Enter Your Task Here. ">
          </div>
          <div class="form-group">
            <label for="example-description">Task Description</label>
            {{!-- probably don't need a Task descripttion but I'm leaving this in for right now in case we need it for something else --}}
            <textarea class="form-control" id="task-description" aria-describedby="task-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Tasks:</h3>
        {{!-- this will be a list of the tasks --}}
        <ul id="task-list" class="list-group">
          {{#each task}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="tasks/{{this.id}}">{{this.task_name}} </a>
            <p>Category: {{this.category}}</p>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
