<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Add a User</h5>
                    <tbody>
                        <tr class="form-row">
                            <form class="user-form">
                                <td colspan="4">
                                    <input placeholder="Enter a name" id="new-user" type="text" name="name" />
                                </td>
                                <td colspan="4">
                                    <input placeholder="Project ID" id="project-id" type="text" name="name" />
                                </td>

                                <td><button type="submit" class="btn btn-success">Create User</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>

                </div>
                <div class="card-body">
                    <h5 class="card-title">User</h5>
                    <ul id="allUsers" class="list-group">
                        {{#each User}}
                        <li  class="list-group-item">
                            {{!-- <a href="user/{{this.id}}">{{this.name}}</a> --}}
                            <h4>{{this.id}}. {{this.name}}</h4>
                            <button data-id="{{this.id}}" class="btn btn-danger float-right delete">X</button>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div>
                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
